.friend-container{
  max-height: 200px;
  display: flex;
  flex-direction: row;
  background-color: #457B9D;
  margin-left: 20px;
  padding: 5px 40px 5px 5px;
}
.friend-avatar{
  max-width: 200px;
  margin: auto;
}
.friend-details{
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.friend-contact{
  margin: 0px 20px 0px 30px;
  color: white;
  
}
.friend-flag-containers{
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin: 0 5px 0 0;
}
.friend-flags{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
