
#genre-pointer {
  width: 200px;
  height: 40px;
  position: relative;
  background: lightgrey;
}
#genre-pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 20px solid lightgray;
  border-top: 20px solid white;
  border-bottom: 20px solid white;
}
#genre-pointer:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}