
#genre-pointer {
  width: 150px;
  height: 40px;
  position: relative;
  background: lightgrey;
  display: flex;
  margin-top: 5px;
}
#genre-pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 20px solid lightgray;
  border-top: 20px solid #457B9D;
  border-bottom: 20px solid #457B9D;
}
#genre-pointer:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 20px solid #457B9D;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

#inner-text{
  margin: auto;
}